*{
    margin: 0;  
    padding: 0; 
    box-sizing: border-box;
    outline: none;  
    border: none;  
    text-decoration: none;  
    list-style: none;
 }
/*--------vaiables-------*/ 
:root{
    --space: 2rem;
    --main-color: rgb(45,44,56);
    --blue-color: rgb(55, 99, 244);
    --blue-opacity: rgb(140, 164, 244);
    --white-alpha-40: #2d2c38;
    --white-alpha-25: rgba(62, 30, 30, 0.25);
    --background-color: rgb(39, 38, 46);
    --backdrop-filter: blur(5px);
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);
} 
/*-------global styling--------------*/
html{
    scroll-behavior: smooth;
}
body{
    color: #fff;
    background-color: #27262e;
}
.btn{
    background-color: rgb(55, 99, 244);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 1.5rem; 
    font-size: 20px; 
    cursor: pointer;  
    position: relative;
    text-align: center;
}
.btn::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 30px;
    z-index: -1;
    transition: width 0.3s ease;
    text-align: center;
}
.btn:hover::before{
    width: 100%; 
}
.btn:hover{
    color: #fff;  
}  
.empty{ 
    background-color: var(--white-alpha-25);  
    border: 2px solid var(--white-alpha-40);  
    backdrop-filter: var(--backdrop-filter);  
    box-shadow: var(--box-shadow);  
    text-transform: capitalize;   
    color: #fff;   
    padding: 1.5rem;  
    text-align: center;  
    margin: 2rem auto;  
    width: 50vw;
    border-radius: .5rem;
    line-height: 2;
    } 
.empty p{
    font-size: 20px;
    margin-bottom: 0;
}   
input[type='submit']{
    cursor: pointer; 
}
input[type='submit']:hover{
    color: var(--main-color);
}
.box-container{
    justify-content: center !important;
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: center;
} 
.box-container .box{
    background-color: var(--main-color);
    border: 2px solid var(--white-alpha-40); 
    backdrop-filter: var(--backdrop-filter);  
    box-shadow: var(--box-shadow);  
    margin: 1rem; 
    border-radius: .5rem;
}  
.heading{ 
    text-align: center; 
    line-height: 1.5; 
} 
.heading h1{
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #19f5aa;
    margin-bottom: 0.5rem;
} 
.heading span{
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 16px;
}
.heading img{
    margin-top: .5rem;    
    width: 150px!important;    
}  
.flex-btn{ 
    display: flex; 
    justify-content: center; 
}  
.flex-btn .btn{
    margin: .5rem; 
}
.banner{
    width: 100%;
    height: 110vh;
    background-image: url(../image/background/colin-lloyd-5TGwSC4dHOU-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.banner .detail{
    place-content: 4%;
    color: #fff;
    line-height: 1.5;
}
.banner .detail p{
    font-size: 16px;
    margin-bottom: 1rem;
}
.banner .detail h1{
    text-transform: capitalize;
    color: #fff;
}
.banner .detail span{
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 1rem;
}
.banner .detail span a{
    color: #3763f4;
}
.banner .detail span i{
    margin: 0 1rem;
}
/*---------custom scroll bar-----------*/
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    --webkit-border-radius: 20px;
    border-radius: 20px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--main-color);
    position: relative;
}
::-webkit-scrollbar-track{
    background-color: transparent; 
    --webkit-border-radius: 20px;
    border-radius: 20px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
/*-----------form container--------------*/
.form-container{
    display: flex;   
    align-items: center;  
    justify-content: center;  
    flex-direction: column;
    min-height: 100vh;  
    padding: 4% 0;  
    position: relative; 
    background-image: url('../image/bg1.webp'); 
    background-position: center; 
}  
.form-container form{
    background-color: rgb(39,38,46);  
    border: 2px solid var(--white-alpha-40);  
    backdrop-filter: var(--backdrop-filter);   
    box-shadow: var(--box-shadow);  
    border-radius: .5rem; 
    padding: 2rem;  
}
.form-container form .flex{
    display: flex;
    gap: 2rem;
}
.form-container form .flex .col{
    flex: 1 1 25rem;
}
.form-container .login{
    width: 50rem; 
}  
.form-container .register{
    width: 60rem; 
}
.form-container .register .img-box{ 
    text-align: center;
    margin-bottom: 1rem;
}
.form-container .register .img-box img{
    width: 180px;
    height: 180px;   
    border-radius: 50%;   
    text-align: center; 
    padding: 10px;
    background-color: var(--main-color);
}   
.form-container form h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem; 
    color: #3763f4; 
    text-transform: capitalize;
    font-weight: bolder; 
}  
.form-container form p{
    padding-top: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.form-container form p span{
    color: red;
}
.form-container form .link{
    padding-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.form-container form .link a{
    color: var(--blue-color);
}
.form-container form .link a:hover{
    color: var(--blue-color);
    text-decoration: underline;
}
.form-container form .box{
    color: #fff;
    background-color: var(--main-color);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    width: 100%;
    border-radius: .5rem;
    margin: .5rem 0;
    font-size: 1.3rem;
    padding: 1rem;
}
.form-container form textarea{
    height: 20rem;
    resize: none;
}
.form-container form .btn{
    width: 100%;
    font-size: 1.3rem;
    background-color: var(--main-color);
}

.form-container form .btn:hover{
    color: var(--blue-opacity);
}

.form-container .image{
    width: 100%;
    height: 30rem;
}
.post-editor input[type="submit"]{
    width: 49%;
}
/*---------header--------------*/
.header{
    padding: .5rem 4%;
    background-color: #2d2c38;
    box-shadow: 0px 5px 10px 0px #aaa;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header .flex{
    padding: .5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .flex .search-form{
    width: 30rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: #fff;
}
.header .flex .search-form input{
    width: 100%;
    background: none;
    font-size: 1.1rem;
    box-shadow: none;
}
.header .flex .search-form button{
    font-size: 1.1rem;
    color: #3763f4;
    cursor: pointer;
    background: none;
    box-shadow: none;
}
.header .flex .icons div,
.header a i{
    font-size: 2rem;
    color: #fff;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.4rem;
    text-align: center;
    margin-left: .5rem;
    cursor: pointer;
}
.header sup{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3763f4;
    position: absolute;
    top: 20%;
    color: #fff;
    line-height: 20px;
    margin-left: -1rem;
    text-align: center;
}
#search-btn{
    display: none;
}
#menu-btn{
    display: none;
}
.header .flex .profile-detail{
    background-color: rgba(39, 38, 46,0.25);  
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 125%;
    right: 2rem;
    border-radius: .5rem;
    width: 22rem;
    padding: 1.5rem .5rem;
    animation: .2s linear fadeIn;
    text-align: center;
    overflow: hidden;
    display: none;
    transition: .5s;
}
@keyframes fadeIn{
    0%{  
    transform: translateY(1rem); 
    }  
} 
.header .flex .profile-detail img{
    background-image: var(--gradient);
    padding: .6rem;
    height: 9rem;
    width: 9rem;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: .5rem;
}
.header .flex .profile-detail.active{
    display: inline-block;
}

.header .flex .profile-detail h3{
    font-size: 2rem;
    color: var(--black);
}

.header .flex .profile-detail span{
    color: var(--light-color);
    font-size: 1.6rem;
}
.header .navbar{
    display: flex;
    margin: .5rem 0;
}
.header .navbar a{
    font-size: 1.3rem;
    margin: 0 .5rem;
    text-transform: capitalize;
    color: #fff;
}
.slider-container{
    position: relative;
    width: 100%;
    min-height: 110vh;
    margin-bottom: 5rem;
}
.slider-container .slideBox{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s;
}
.slider-container .slideBox.active{
    opacity: 1;
}
.slider-container .textBox{
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
}
.slider-container .imgBox img{
    width: 100%;
    height: 110vh;
}
.slider-container .textBox h1{
    font-size: 3rem;
    color: var(--blue-opacity);
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.slider-container .textBox p{
    font-size: 16px;
    margin-bottom: 2rem;
}
.slider-container .controls{
    position: absolute;
    top: 38%;
    right: 0;
}
.slider-container .controls li{
    position: relative;
    width: 60px;
    height: 60px;
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-container .controls i{
    font-size: 2rem;
}
.service{
    padding: 6%;
}
.service .box-container .box{
  background-color: #3763f4;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.5;  
}
.service .box-container .box .detail{
    border-left: 1px solid #000;
    padding-left: 2rem;
}
.service .box-container .box h4{
    font-size: 1.5rem;
}
.service .box-container .box .icon{
    cursor: pointer;
    overflow: hidden;
    width: 130px;
}
.service .box-container .box .icon-box{
    display: flex;
    width: 200%;
    transition: .2s ease-in-out;
}
.service .box-container .box .icon-box .img1,
.service .box-container .box .icon-box .img2{
    flex: 1 0 50%;
    width: 40px;
    height: 60px;
    object-fit: contain;
}
.service .box-container .box:hover .icon-box{
    transform: translateX(-50%);
}
.categories{
    padding: 4%;
}
.categories .box-container{
    padding-top: 4%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.categories .box-container .box{
    margin: .5rem;
    position: relative;
    overflow: hidden;
}
.categories .box-container .box:hover img{
    transform: scale(1.1);
}
.categories .box-container .box img{
    width: 100%;
    transition: .5s;
    height: 60vh;
}
.categories .box-container .box a{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 11;
    width: 90%;
    text-align: center;
    margin: 1rem auto;
    font-size: 1.5rem;
    color: #fff;
}
.menu-banner{
    width: 100%;
}
.taste{
    background-image: url('../image/bn3.3.webp');
    padding: 4% 6%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.taste .box-container .box{
    position: relative;
}
.taste .box-container .box .detail{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 10%;
    line-height: 1.5;
    text-transform: capitalize;
}
.taste .box-container .box img{
    width: 100%;
    outline: 0.1rem solid #fff;
    outline-offset: -.5rem;
    border-radius: .5rem;
    transition: .5s;
}
.taste .box-container .box:hover img{
    outline: 2px solid var(--main-color);
    outline-offset: -.2rem;
}
.ice-container{
    position: relative;
    background-image: url('../image/img/2289738353.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
.ice-container .overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
}
.ice-container .detail{
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    color: #fff;
}
.ice-container .detail h1{
    font-size: 3rem;
}
.ice-container .detail p{
    font-size: 1.5rem;
    line-height: 1.5;
    padding-bottom: 2em;
}

.taste2{
    max-width: 1200px;
    margin: 3rem auto;
}
.taste2 .t-banner{
    background-image: url('../image/bg.png');
    min-height: 40vh;
    border-radius: 20px;
    position: relative;
    box-shadow: var(--box-shadow);
    margin: 1rem;
}
.taste2 .t-banner .overlay{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff99;
}
.taste2 .t-banner .detail{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 30%;
    line-height: 1.5;
}

.taste2 .t-banner .detail p{
    color: #666;
    margin-bottom: 2rem;
    font-size: 20px;
}
.taste2 .t-banner .detail h1{
    text-transform: capitalize;
}
.taste2 .box-container .box{
    position: relative;
}
.taste2 .box-container .box img{
    width: 100%;
}
.taste2 .box-container .box .box-overlay{
    position: absolute;
    background-color: var(--blue-opacity);
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.taste2 .box-container .box:hover .box-overlay{
    opacity: .7;
}
.taste2 .box-container .box .box-details{
    position: absolute;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.taste2 .box-container .box:hover .box-details{
    opacity: 1;
    top: 50%;
    left: 50%;
}
.taste2 .box-container .box .box-details h1{
    color: var(--main-color);
    font-weight: 500;
    letter-spacing: 0.15em;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
.taste2 .box-container .box .box-details p{
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.fadeIn-bottom{
    top: 80%;
}
.flavor .box-container{
    background-color: var(--blue-opacity);
}
.flavor .box-container img{
    width: 100%;
}
.flavor .box-container .detail{
    text-align: center;
    line-height: 1.5;
    padding: 2rem 0;
}
.flavor .box-container .detail h1 {
    font-size: 3rem;
}
.flavor .box-container .detail h1 span{
    color: var(--main-color);
}
.flavor .box-container .detail p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.usage{
    padding: 4%;
}
.usage .row{
    display: flex;
    align-items: center;
}
.usage .row .divider{
    padding: 1rem;
    width: 45%;
}
.usage .row .box-container .box{
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
    align-items: left;
    border: #3763f4 2px solid;
}
.usage .row .box-container .box img{
    width: 70px;
    height: 70px;
    margin-left: .4rem;
}
.usage .row .box-container .box h3{
    font-size: 1.5rem;
    color: #3763f4;
}
.usage .row .box-container .box p{
    color: #fff;
    padding: 1rem 0;
    font-size: 1.1rem;
}
.usage .row .box-container:first-child{
    text-align: center;
}

.box-container.box.detail{
    text-align: center;
}
.pride{
    background-image: url('../image/ice-creem-banner-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 80px 0 80px 0;
    padding: 220px 0 273px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}
.pride .detail{
    padding-right: 10%;
}
.pride .detail p{
    color: #666;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.newsletter{
    background-image: url('../image/bn3.3.webp');
    padding-top: 70px;
    padding-bottom: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    min-height: 100vh;
    text-align: center;
}
.newsletter span{
    font-size: 1rem;
    background-color: var(--blue-opacity);
    color: var(--main-color);
    text-transform: uppercase;
    border-radius: 15px;
    padding: .5rem 1rem;
}
.newsletter h1{
    font-size: 2.5rem;
    margin: .5rem;
    text-transform: capitalize;
}
.newsletter .input-field{
    margin: 1.5rem 0;
}
.newsletter input{
    padding: 1rem;
    border-radius: 10px;
    width: 30vw;
    background-color: var(--blue-opacity);
}
.newsletter .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
}
.newsletter .box-container .box{
    background-color: var(--blue-opacity);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    padding: 2rem 4rem;
    border-radius: 10px;
}
.newsletter .box-container .box-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.newsletter .box-container .box-counter .counter,
.newsletter .box-container .box-counter i{
    color: #000;
    font-size: 3rem;
}
.newsletter .box-container h3{
    font-size: 1.5rem;
    color: var(--main-color);
}
.newsletter p{
    font-size: 1.1rem;
    color: gray;
}
footer{
    background-color: #27262e;
    padding: 90px 0 0;
    width: 100%;
    color: #fff;
}
footer .content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    justify-content: center;
}
footer .content .box{
    margin: 1rem;
    line-height: 1.7;
}
footer .content .box .btn{
    text-align: center;
    padding: .5rem;
}
footer .content .box .btn:hover{
    color: #fff;
}
footer .content .box h3{
    color: #fff;
    text-transform: capitalize;
    margin-bottom: .5rem;
}
footer .content .box a{
    font-size: 16px;
    display: block;
    color: #fff;
    text-transform: capitalize;
}
footer .content box a:hover{
    color: var(--main-color);
}
footer .content .box i{
    margin-right: .5rem;
}
footer .content .box p{
    line-height: 1.5;
}
footer .content .box .icons{
    margin-top: 1rem;
}
footer .content .box .icons i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #3763f4;
    border: 1px solid #000;
    color: #fff;
    cursor: pointer;
}
footer .bottom{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    border-top: 1px solid #000;
    line-height: 2;
}
footer .bottom a{
    text-transform: capitalize;
    color: #fff;
}
/*-------------about section---------------*/
.chef {
    padding-left: 4%;
}
.chef .box{
    line-height: 1.5;
    text-align: center;
    box-shadow: none;
}
.chef .box .img {
    width: 70%;
    margin-bottom: -2rem;
}
.chef .box p {
    font-size: 1.3rem;
    color: #666;
    margin-bottom: 2rem;
}
.story{
    background-image: url('../image/about_bg.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    line-height: 1.5;
}
.story p{
    padding-bottom: 2rem;
    color: gray;
}
.py-5{
    padding-top:0;
}
/*------------------Container--------------------*/
.container{
    padding: 4%;
    padding-bottom: 0;
}
.container .box-container .img-box{
    margin: 1rem;
}
.container .box-container .img-box img{
    background-image: url('../image/shap.png');
    background-size: contain;
    width: 80%;
    margin-bottom: -1.1rem;
}
.container .box-container .box{
    text-align: center;
    line-height: 2;
    box-shadow: none;
}
.container .box-container p{
    color: #666;
    font-size: 16px;
    margin-bottom: 2rem;
}
.team{
    background-image: url('../image/bn3.3.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 6%;
}
.team .box-container .box{
    overflow: hidden;
}
.team .box-container .box .img{
    width: 100%;
    transition: .5s;
}
.team .box-container .box:hover .img{
    transform: scale(1.1);
}
.team .box-container .box .content{
    position: relative;
    display: block;
    background-color: #fff;
    padding: 43px 30px 42px 30px;
    margin-top: -80px;
    border-top-right-radius: 80px;
    text-align: center;
    line-height: 1.5;
    text-transform: capitalize;
}
.team .box-container .box .content .shap{
    position: absolute;
    left: 0;
    top: -80px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
}
.standers{
    background-image: url('../image/std.jpg');
    padding: 135px 0 210px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    text-align: center;
    line-height: 1.5;
    padding-left: 6%;
}
.standers p{
    font-size: 1.6rem;
    color: #666;
    padding-bottom: .5rem;
}
.standers i{
    font-size: 2rem;
    color: var(--main-color);
}
.testimonial{
    width: 800px;
    margin: 2rem auto;
}
.testimonial-container{
    overflow: hidden;
}
.slide-row{
    display: flex;
    flex-wrap: wrap;
    width: 3200px;
    transition: .5s;
}
.slide-col{
    width: 800px;
    height: 400px;
    position: relative;
}
.user-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.user-img img{
    height: 100%;
    border-radius: 10px;
    width: 320px;
    object-fit: cover;
}
.user-text{
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--backdrop-filter);
    width: 520px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #4d4352;
    padding: 45px;
    z-index: 2;
}
.user-text p{
    font-size: 18px;
    line-height: 24px;
}
.user-text h2{
    margin: 35px 0 5px;
}
.indicator{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.indicator .btn1{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    background-color: #000;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border-radius: 15px;
}
.indicator .btn1.active{
    width: 45px;
    background-color: var(--main-color);
}
.mission{
    background-image: url('../image/bg1.webp');
    background-position: center;
    background-size: cover;
    padding: 0 4%;
    position: relative;
}
.mission .box-container .box .detail{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .6em 0;
}
.mission .box-container .box{
    box-shadow: none;
    background-color: transparent;
    border: none;
}
.mission .box-container .box .detail h2{
    color: var(--main-color);
    margin-bottom: .5rem;
}
.mission .box-container .box .detail p{
    color: #666;
    line-height: 1.5;
}
.mission .box-container .box .detail .img-box{
    text-align: center;
    margin-right: 1rem;
}
.mission .box-container .box .detail .img-box img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: contain;
    border: 2px dashed var(--main-color);
}
.mission .img{
    width: 100%;
    margin-bottom: -3, 7rem;
}
/*-----profile-----------------*/
.profile{
    padding: 5% 8%;
}
.profile .details{
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    margin-top: 2rem;
}
.profile .details .user{
    text-align: center;
    margin-bottom: 2rem;
}
.profile .details .user img{
    width: 10rem;
    height: 10rem;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: .5rem;
    padding: .5rem;
    background-color: var(--main-color);
}
.profile .details .user h3{
    font-size: 2rem;
    margin: .5rem 0;
}
.profile .details .user p{
    font-size: 1.7rem;
    color: gray;
    margin-bottom: 2rem;
}
.profile .details .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1.5rem;
}
.profile .details .box-container .box{
    background-color: #cccccc11;
    border-radius: .5rem;
    padding: 1.5rem 2rem;
    flex: 1 1 30rem;
}
.profile .details .box-container .box .flex{
    display: flex;
    align-items: center;
    gap: 1.7rem;
    margin-bottom: 1rem;
}
.profile .details .box-container .box .flex i{
    font-size: 2.5rem;
}
.profile .details .box-container .box .flex h3 {
    font-size: 1.5rem;
    color: var(--main-color);
    margin-bottom: .2rem;
}
.profile .details .box-container .box .flex span{
    font-size: 1.5rem;
    color: lightgray;
}
/*-----product sectiom-----------------*/
.products{
    background-image: url('../image/bg1.webp');
    padding: 4%;
}
.products .box-container .box{
    position: relative;
    margin: 1rem;
    overflow: hidden;
    color: #fff;
}
.products .box-container .box .stock{
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 1rem;
    background-color: var(--white-alpha-40);
    padding: .4rem 1rem;
    border-radius: 10px;
}
.products .box-container .box .image{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    transition: .5s;
    
}
.products .box-container .box:hover .image{
    transform: scale(1.1);
}
.products .box-container .box .content{
    position: relative;
    display: block;
    background-color: #2d2c38;
    padding: 20px 10px;
    margin-top: -80px;
    border-top-right-radius: 80px;
    text-align: center;
    line-height: 1.5;
    text-transform: capitalize;
}
.products .box-container .box .content .shap{
    position: absolute;
    left: 0;
    top: -80px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
}
.products .box-container .box h3{
    position: absolute;
    text-transform: capitalize;
    font-size: 18px;
    margin: 20px 0 16px;
    left: 4%;
    max-width: 250px;
    text-align: left;
}
.products .box-container .box .price{
    position: absolute;
    top: 4%;
    left: 4%;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.products .box-container .box .button{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0.4rem;
    color: #fff;
}
.products .box-container .box .button button{
    background-color: transparent;
    cursor: pointer;
}
.products .box-container .box .button i,
.products .box-container .box .button a{
    color: #fff;
    margin: 0 .5rem;
    font-size: 1.8rem;
    text-decoration: none;
}
.products .box-container .box .button i:hover,
.products .box-container .box .button:hover{
    color: var(--blue-opacity);
}
.products .box-container .box .flex-btn{
    justify-content: space-between;
}
.products .box-container .box .flex-btn input{
    width: 48%;
    color: #fff;
    margin-top: 40px;
    padding: .6rem 2rem;
    border-radius: 1.5rem;
    font-size: 18px;
    height: 50px;
}
.products .box-container .box .flex-btn .btn{
    color: #fff;
    font-size: 18px;
    height: 50px;
    margin-top: 40px;
}
.products .more{
    margin: 3rem auto;
    text-align: center;
}
.products .fa-edit{
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--main-color);
    width: 200px;
    border-radius: 20px;
}
.sub-total{
    font-size: 1.5rem;
    margin: 1rem;
}
.cart-total{
    text-align: center;
    padding: 4%;
    margin: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
}
.cart-total p{
    font-size: 1.5rem;
    margin: 2rem 0;
    text-transform: capitalize;
}
.cart-total p span{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}
.cart-total .button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-total .btn{
    margin: .5rem;
}
.view_page{
    background-image: url(../image/bn3.3.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 6%;
}
.view_page .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    flex-wrap: wrap;
    box-shadow: var(--box-shadow);
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    border-radius: .5rem;
}
.view_page .box .img-box,
.view_page .box .detail{
    flex: 1 1 40rem;
    padding: 2rem;
}
.view_page .box .img-box{
    width: 100%;
}
.view_page .box .img-box img{
    width: 100%;
}
.view_page .box .product-detail{
    color: lightgray;
    margin: 1rem 0;
    line-height: 2;
}
.view_page .box .price{
    font-size: 2rem;
    color: red;
}
.view_page .box .name{
    color: #fff;
    text-transform: capitalize;
    font-size: 2rem;
}
.services{
    padding: 100px 6%;
    position: relative;
    min-height: 100vh;
}
.services .box-container .box{
    line-height: 1.5;
    text-align: center;
    padding: 2rem 0;
}
.services .box-container .box div{
    margin-left: 2rem;
}
.services .box-container .box h1{
    font-size: 25px;
    color: #3763f4;
    margin: .5ren 0;
    text-transform: capitalize;
}
.form-container label{
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: .5rem 0;
}
.form-container sup{
    color: red;
}
.address{
    padding: 5% 8%;
    min-height: 50vh;
}
.address .box{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    padding: 2rem 0;
    background-color: #3763f4;
    height: 200px;
}
.address .box h4{
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}
.address .box i{
    font-size: 2.5rem;
    margin-right: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3763f4;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    position: absolute;
    left: 25%;
}
.address .box .contact_details{
    width: 50%;
    position: absolute;
    left: 45%;
}
.address .box .contact_details h4{
    font-weight: bold;
}
.address .box .contact_details div{
    margin-top: 0.5rem;
    margin-bottom: 0;
}
.address .box .contact_details div p{
    margin: 0;
}
/*-----checkout-----------------*/
.checkout{
    background-image: url('../image/bg1.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 6%;
}
.checkout .row{
    display : flex;
    flex-direction: column;
    flex-flow: column-reverse;
}
.checkout .row form, 
.checkout .summary{
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    width: 1000px;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #403e4b;
}
.checkout .row h3{
    font-size: 2rem;
    padding-bottom: 1rem;
    text-transform: capitalize;
    text-align: center;
}
.checkout .row form .box{
    flex: 1 1 20rem;
}
.checkout .row form .input{
    color: #fff;
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    width: 100%;
    height: 70px;
    border-radius: .5rem;
    margin: 1rem 0;
    font-size: 1.3rem;
    padding: 1rem;
}
.checkout .row form .flex{
    display: flex;
    column-gap: 1.5rem;
    flex-wrap: wrap;
}

.checkout .row form p{
    text-align: left;
    padding-top: .5rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    color : #fff;
    margin-top: .5rem;
    margin-bottom:0;
}
.checkout .row form span{
    color: red;
}
.checkout .row form .btn{
    width: 100%;
    
}
.checkout .summary .box-container{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.checkout .summary .name{
    font-size: 1.2rem;
    color: orange;
    text-transform: capitalize;

}
.checkout .summary .flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
.checkout .summary .flex img{
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: .5rem;
    margin-right: 2rem;
}
.checkout .summary .price{
    font-size: 1.5rem;
    color: red;
}
.checkout .summary .grand-total{
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2rem;
    margin-top: 1.5rem;
    text-transform: capitalize;
    padding: 2rem 0;
}
.checkout .summary .grand-total p{
    color: red;
    margin-left: .5rem;
    margin-bottom: 0;
}
/*-----order-----------------*/
.orders{
    background-image: url('../image/bg1.webp');
    background-size: cover;
    padding: 4%;
}
.orders .box-container{
    padding: 2% 5%;
}
.orders .box-container .box{
    position: relative;
    margin: 1rem;
    border-radius: .5rem;
    overflow: hidden;
}
.orders .box-container .box:hover .image{
    transform: scale(1.1);
}
.orders .box-container .box .content{
    position: relative;
    display: block;
    background-color: #fff;
    padding : 60px 20px;
    margin-top: -80px;
    border-top-right-radius: 80px;
    text-align: center;
    line-height: 1.5;
    text-transform: capitalize;
}
.orders .box-container .box .content .shap{
    position: absolute;
    left: 0;
    top: -80px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
}
.orders .box-container .box a .row{
    display: flex;
    justify-content: space-between;
}
.orders .box-container .box .date{
    position: absolute;
    top: 5%;
    left: 1%;
    padding: .5rem 1.5rem;
    color: #fff;
    font-size: .6rem;
    display: inline-block;
    border-radius: .5rem;
    background-color: var(--main-color);
}
.orders .box-container .box .image{
    height: 25rem;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}
.orders .box-container .box .name{
    font-size: 1.2rem;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: var(--main-color);
    margin-bottom: 10px;
}
.orders .box-container .box .price{
    font-size: 1.3rem;
    color: #000;
}
.orders .box-container .box .status{
    margin-left: .5rem;
    font-size: 1rem;
    text-transform: capitalize;
}
.order-detail{
    background-image: url('../image/bg1.webp');
    background-size: cover;
    padding: 4rem 0;
}
.order-detail .box-container{
    border-radius: .5rem;
    max-width: 1200px;
    margin: 1rem auto;
    padding: 2rem;
}
.order-detail .box-container .box{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: hidden;
}
.order-detail .box-container .box .col{
    flex: 1 1 30rem;
    font-size: 1rem;
    padding: 2rem;
}
.order-detail .box-container .box .image{
    height: auto;
    width: 100%;
    object-fit: fill;
    margin: 1rem 0;
}
.order-detail .box-container .box .col .title{
    border-radius: .5rem;
    margin-bottom: 1rem;
    padding: .5rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    display: inline-block;
    text-transform: capitalize;
}
.order-detail .box-container .box .col .title i{
    margin-right: 1rem;
    color: #fff;
}
.order-detail .box-container .box .col .price{
    color: crimson;
    font-size: 1rem;
    padding: .5rem 0;
    margin-top: -3rem;
}
.order-detail .box-container .box .col .name{
    font-size: 1.5rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.order-detail .box-container .box .col .user{
    padding: .5rem 0;
    font-size: 1.3rem;
    color: gray;
}
.order-detail .box-container .box .col i{
    margin-right: 1rem;
    color: gray;
}
.order-detail .box-container .box .col .grand-total{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    text-transform: capitalize;
    flex-wrap: wrap;
}
.order-detail .box-container .box .col .grand-total{
    color: orange;
    text-transform: capitalize;
    font-size:1.5rem;
}
.order-detail .box-container .box .col .status{
    font-size: 1.4rem;
    padding: .5rem;
    text-transform: capitalize;
}
.order_detail a{
    margin-top: 3rem;
}
.order-detail .box-container .box .col .btn{
    width: 100%;
    margin-top: 1rem;
}
.contact{
    padding:4%;
}
.fw-bold.text-success.mb-2{
    font-size: 2.5rem;
}
.fw-bold.card-title{
    margin: 10px 10px 10px 0;
}
button.bx.bxs-edit.fa-edit.box{
    margin-top: 40px;
    height: 50px;
}


























/*-----media qiery-----------------*/
@media (max-width:991px){
    #search-btn,
    #menu-btn{
        display: inline-block;
    }
    .header .flex .search-form{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        width: auto;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;    
    }
    .header .flex .search-form.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .navbar{
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: .1rem solid #fff3;
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .5s;
    }
    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .navbar a{
        display: block;
        margin: 1.5rem 0;
        padding: 1rem;
        background-color: var(--main-color);
        text-align: center;
        border-radius: .5rem;
        color: #fff;
    }
    .header .flex .navbar a:hover{
        color: #000;
    }
}